@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap");
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header .logo-searchbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px; }
  .header__logo {
    background-image: url("/Assets/Logo/logo-orange.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 101px;
    height: 52px; }
  .header .search-input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent; }
    .header .search-input:focus {
      outline: none; }
  .header__search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 50px;
    border: 2px solid #111C34;
    border-radius: 26px;
    padding: 0.4em 1em;
    position: relative; }
  .header .search-icon {
    display: block;
    background: url("/Assets/icons/search-icon.svg") 0 0 no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px; }
  .header .search-icon:hover {
    cursor: pointer; }
  .header__details-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px; }
    .header__details-toggle:hover {
      cursor: pointer; }
    .header__details-toggle svg {
      width: 46px;
      height: 23px; }
  .header__details-toggle--simple svg #base .cls-1 {
    fill: transparent; }
  .header__details-toggle--simple svg #base .cls-2 {
    fill: #111C34; }
  .header__details-toggle--simple svg #cirkel {
    fill: #111C34;
    animation: move-left 0.7s ease;
    animation-fill-mode: forwards; }

@keyframes move-left {
  0% {
    transform: translateX(45%); }
  100% {
    transform: translateX(0); } }
  .header__details-toggle--detailed svg #base .cls-1 {
    fill: #111C34; }
  .header__details-toggle--detailed svg #base .cls-2 {
    fill: #111C34; }
  .header__details-toggle--detailed svg #cirkel {
    fill: #8EB1C7;
    animation: move-right 0.7s ease;
    animation-fill-mode: forwards; }

@keyframes move-right {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(45%); } }

.current-weather {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 6rem; }
  .current-weather img {
    width: 20rem; }
  .current-weather__info {
    width: 20rem; }
    .current-weather__info .city-wrapper {
      margin-bottom: 2rem; }
      .current-weather__info .city-wrapper h2 {
        color: #F8D047;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 0; }
      .current-weather__info .city-wrapper span {
        font-size: 12px;
        font-style: italic;
        color: white; }
    .current-weather__info .now {
      margin-bottom: 21px; }
    .current-weather__info .parameter-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 21px; }
      .current-weather__info .parameter-wrapper img {
        height: 18px;
        width: 18px; }
      .current-weather__info .parameter-wrapper p {
        margin: 0; }
      .current-weather__info .parameter-wrapper .small-text {
        font-size: 12px; }

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

h1 {
  color: blue; }

body {
  padding: 25px 85px;
  background: linear-gradient(180deg, #8FA5B7 0%, #111C34 100vh) no-repeat;
  min-height: 100vh; }
