.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header .logo-searchbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px; }
  .header__search-bar {
    display: block;
    width: 475px;
    height: 50px;
    border: 2px solid #111C34;
    border-radius: 26px;
    padding: 1em 2em;
    position: relative; }
    .header__search-bar:after {
      content: "";
      display: block;
      height: 39px;
      width: 56px;
      position: absolute;
      top: 100px;
      left: 0;
      margin: 2px;
      background: url("/Assets/icons/carbon_search.svg") 0 0 no-repeat;
      z-index: 3; }

* {
  box-sizing: border-box; }

h1 {
  color: blue; }

body {
  padding: 25px 85px;
  background: linear-gradient(180deg, #8FA5B7 0%, #111C34 46.11%) no-repeat;
  height: 100vh; }
  body section {
    font-size: 2rem; }
