h3{
    position: absolute;
  width: 286px;
  height: 53px;
  left: 84px;
  top: 537px;
  
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  /* or 45px */
  
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  
  color: #F8D047;
  }
  
  .idag{
   /* I dag */
  
  
  position: absolute;
  width: 41px;
  height: 24px;
  left: 125px;
  top: 627px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  
  color: #161515;
  }
.dag2{
    /* 2. November */


position: absolute;
width: 102px;
height: 24px;
left: 125px;
top: 692px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

display: flex;
align-items: center;
letter-spacing: -0.011em;

color: #FFFFFF;
}
  