//Colors
$main-white: #FFFFFFF;
$accent-orange: #F8D047;
$accent-navy-blue: #111C34;

//Font family
$family-montserrat: "Montserrat", sans-serif;
$family-barlow: "Barlow Condensed", sans-serif;

//Font sizes
$text-normal: 16px;
$text-large: 30px;
$text-xl: 36px
