//Colors
$main-white: #FFFFFFF;
$main-blue: #8EB1C7;
$accent-orange: #F8D047;
$accent-navy-blue: #111C34;

//Font family
$family-montserrat: "Montserrat", sans-serif;
$family-barlow: "Barlow Condensed", sans-serif;

//Font sizes
$text-small: 12px;
$text-normal: 16px;
$text-large: 30px;
$text-xl: 36px;

//Break points
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

