@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import "mixins";
@import "variables";
@import "header";
@import "current-weather";
@import "next-days-weather";

* {
  box-sizing: border-box;
  font-family: $family-montserrat;
}

body {
  padding: 25px 85px;
  background: linear-gradient(180deg, #8FA5B7 10vh, #111C34 100vh) no-repeat;
  min-height: 100vh;
}



