@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import "mixins";
@import "variables";
@import "header";
@import "current-weather";

* {
  box-sizing: border-box;
  font-family: $family-montserrat;
}
h1 {
  color: blue
}

body {
  padding: 25px 85px;
  background: linear-gradient(180deg, #8FA5B7 0%, #111C34 100%) no-repeat;
  height: 100vh;
  section {
    font-size: 2rem;
  }
}

